[core]
	editor = vim
	pager = less -FMRiX
	program = gpg
	excludesfile = /Users/mrynjoh/.gitignore
[commit]
    template = ~/.gitmessage
[tag]
	forceSignAnnotated = false
[pull]
	ff = only
[color]
	ui = auto
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
