# Dev tools
brew "docker"
cask "docker-desktop"
cask "claude-code"
brew "tmux"
cask "ghostty"
cask "visual-studio-code"

brew "fnm"
brew "pyenv"
brew "mise"

brew "uv"

# Productivity Tools
cask "maccy"
cask "raycast"
{{ if .aerospaceEnabled -}}
cask "nikitabobko/tap/aerospace"
{{ else -}}
cask "rectangle"
{{ end -}}

# CLI Tools
brew "gh"
brew "tree"
brew "lazygit"

# Fonts
cask "font-fira-code"

{{ if eq .profile "personal" -}}
# TODO
{{ else if eq .profile "work" -}}
# Work-only apps
cask "obsidian"
cask "codex"

tap "datadog-labs/pack"
brew "datadog-labs/pack/pup"
{{ end -}}
