# Atom Keymap
# Customizes key bindings for the atom editor

# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms.

# Make Git tab more accessible
'.workspace':
  'ctrl-g': 'github:toggle-git-tab'
