# Atom snippets
# Customizes 'snippet' templates for the atom editor

#  -----------------------------
#  C++
#  -----------------------------

'.source.cpp':
  'C++ Unit test':
    'prefix': 'Unit Test'
    'body': """
            void ${1:testName}(){
              $2
              cout<<"${1:testName} PASS"<<endl;
            }
            """

#  -----------------------------
#  Javascript
#  -----------------------------

'.source.javascript':
  'Console Log':
    'prefix': 'console'
    'body': 'console.log($1);'

#  -----------------------------
#  Python
#  -----------------------------

'.source.python':
  'main':
    'prefix': 'main'
    'body': """
            if __name__ == '__main__':
              $1
            """
