# Atom snippets
# Customizes 'snippet' templates for the atom editor

'.source.cpp':
  'C++ Unit test':
    'prefix': 'Unit Test'
    'body': """
            void ${1:testName}(){
              $2
              cout<<"${1:testName} PASS"<<endl;
            }
            """

'.source.python':
  'main':
    'prefix': 'main'
    'body': """
            if __name__ == '__main__':
              $1
            """
